################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/adr-power-cli/FileContentIndex
/.vs/adr-power-cli/v17
/cli/bin/Debug/net8.0
/cli/obj
/core/bin/Debug/net8.0
/core/obj
/.vs
/src/cli/bin/Debug/net8.0
/src/cli/obj/Debug/net8.0
/src/cli/obj
/src/core/bin/Debug/net8.0
/src/core/obj
/src/cli/bin
/src/core/bin/Release/net8.0
